<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App1.Properties.Settings.BDConsuConnectionString" connectionString="Data Source=Kruschov\Sqlexpress;Initial Catalog=BDConsu;Persist Security Info=True;User ID=sa;Password=guille" providerName="System.Data.SqlClient"/>
    </connectionStrings>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
