<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App1.Properties.Settings.PS5ConnectionString" connectionString="Data Source=KRUSCHOV\SQLEXPRESS;Initial Catalog=PS5;Persist Security Info=True;User ID=sa;Password=guille"
            providerName="System.Data.SqlClient" />
        <add name="App1.Properties.Settings.PS4ConnectionString" connectionString="Data Source=KRUSCHOV\SQLEXPRESS;Initial Catalog=PS4;Persist Security Info=True;User ID=sa;Password=guille"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>